@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*{
    font-family: arial;
} 

html{
    background-color: #000814;
}

body{
    padding: 0;
    margin: 0; 
    background-size: cover;
    color: black;
    text-align: center;
}

button{
    border: 0px solid transparent;
}

/* INÍCIO CABEÇALHO */
header{
    position: relative;
    height: 70px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content:end;
    background-color: #001d3d;
    z-index: 1;
    width: 100%;

}

h3{
    font-size: 17px;
    color: white;
}

.header {
    background-color: #001d3d;
    color: #fff; 
    border-bottom: 1px solid white;
    width: 100%;
}

/* Logo */
.wrapper .sidebar .img img{
    top: 0;
    height: 200px;
    width: 160px;
    clip-path: inset(50px 20px 69px 0 round 50px);
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    /* margin-left: 2.1rem; */
    /* margin-top: 1.5rem; */
}

.itemsHeader{
    display: flex;
    column-gap: 7vh;
    margin-right: 3.5vw;
    color: white;
}

input{
    width: 150px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    outline: none;
}

  
.botao {
    width: 8vh;
    height: 8vh;
    align-items: center;
    background-color: yellow;
    border: none;
    padding: 3vh 3vh;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
    align-items: center;
    justify-content: center;

  }
  
  .botao:hover {
    background-color: #f1f1f1;
  }
  
  .options {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
  }
  
  .options a {
    display: block;
    padding: 5px;
    right: 0;
    text-decoration: none;
    color: #333;
    
  }
  
  .options a:hover {
    background-color: #ddd;
  }

  /* FIM CABEÇALHO */



        /* CONTAINER PRINCIPAL */
.wrapper {
    display: flex;
}

/* INÍCIO SIDEBAR */
.sidebar {
    background-color: #001d3d; 
    color: #fff;
    width: 15%; 
    border-right: 1px solid white;
    height: 135vh;
}


.wrapper .sidebar .botaoSidebar{
    width: 90%;
    height: 7%;
    display: flex;
    background-color: transparent;
    /* border-radius: 8px; */
    justify-content: space-around;
    padding: 0.2rem;
    margin-left: 3%;
    margin-bottom: 10%;
}

.wrapper .sidebar .botaoSidebar img{
    width: 7vh;
    height: 6vh;
}

/* .wrapper .sidebar .containerSidebar{
    height: 200vh;
} */

/* FIM DO SIDEBAR */



.wrapper .sidebar .botaoSidebar:hover{
    background-color: #003566;
    width: 95%;
    padding: 1;
}



.wrapper .sidebar .botaoSidebar2:hover{
    width: 90%;
    height: 7%;
    display: flex;
    background-color: #074794;
    border-radius: 8px;
    justify-content: space-around;
    padding: 0.2rem;
    margin-left: 3%;
    margin-bottom: 10%;
    box-shadow: 0 0 10px 2px rgba(0, 47, 255, 0.5);
}

/* Serve para que, quando chegar à um determinado número máximo de px, ele mude o que estiver dentro
do "@media (max-width: 768px)" */
@media (max-width: 800px) { 
    .sidebar .botaoSidebar h3,
    .sidebar .botaoSidebar2 h3{
        display: none; /* Tirar o h3 */
    }

}


/* Estilo para o conteúdo */
.content {
    flex: 1; /* Faz o conteúdo ocupar o restante do espaço disponível */
    width: 100%;
    height: 100%;
}


/* CONTEÚDO PRINCIPAL */
.main-content {
    padding: 20px;
}

.main-content .container_api {
    background-color: #001d3d;
    width: 90%;
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-wrap: wrap;
    padding: 2%;
    border-radius: 15px;
}

.main-content .container_api .grafico {
    width: 45%; 
    height: 50vh; 
    border: 2px solid #09d4db;
    margin: 10px; 
    background-color: #05448091;
}

.main-content .container_api .grafico2 {
    width: 45%; 
    height: 50vh; 
    border: 2px solid #da0d0d;
    margin: 10px; 
    background-color: #fa010165;
}


/* ALERTAS */


.main-content .alertas {
    margin-top: 5%;
    background-color: #001d3d;
    width: 90%;
    height: auto; 
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    flex-wrap: wrap;
    padding: 2%;
    border-radius: 15px;
}

.main-content .alertas .emergencia {
    height: 50px;
    width: 50px;
    background-color: rgba(255, 0, 0, 0.404);
    border: 1px solid red;
    transition: 1s;
}

.main-content .alertas .emergencia:hover {
    height: 50px;
    width: 50px;
    background-color: red;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
}

.main-content .alertas .atencao {
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 0, 0.404);
    border: 1px solid yellow;
    transition: 1s;
}

.main-content .alertas .atencao:hover {
    height: 50px;
    width: 50px;
    background-color: yellow;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.8);
}


.main-content .alertas .tudoBem {
    height: 50px;
    width: 50px;
    background-color: rgba(9, 212, 219, 0.404);
    border: 1px solid #09d4db;
    transition: 1s;
}

.main-content .alertas .tudoBem:hover {
    background-color: #09d4db;
    box-shadow: 0 0 10px rgba(9, 212, 219,0.8);
}