body{
    padding: 0;
    margin: 0; 
    background-image: url("../img/background3.png");
    background-size: cover;
    color: white;
}

header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-right: 30px;
    margin-top: -40px;
    align-self: self-start;
    height: 200px;
    width: 300px;
}
.lista{
    gap: 220px;
    display: flex;
}

.navegacao{
    margin-top: 30px;
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 18px;

}


.log{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    margin-right: 22px;
}

.calculadora{
    margin-top: -80px;
    display: flex;
    margin-left: 500px;
    flex-direction: column;
    gap: 20px;
}
input{
    margin-bottom: 20px;
}

.inputAr{
    display: flex;

}

#inpAr{
    margin-left: 20px;
    margin-top: 19px;
    cursor: pointer;
}


.box{
    display: flex;
    gap: 50px;
}

.input{
    justify-content: center;
    width: 270px;
    height: 100px;
}

.inp{
    margin-left: 40px;
}

button{

    border: 2px solid red;
    font-weight: bold;
    color: red;
    background-color: black;
    border-radius: 23px;
    
    cursor: pointer;
    height: 37px;
    width: 250px;
}

#divMensagem{
    height: 400px   ;
    margin-top: -350px;
    width: 450px;
}