body{
    padding: 0;
    margin: 0; 
    background-image: url("/img/background3.png");
    background-size: cover;
    color: white;
}

header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

input{
    width: 200px;
    margin-top: 7px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    height: 16px;
}
.logo{
    margin-right: 30px;
    margin-top: -40px;
    align-self: self-start;
    height: 200px;
    width: 300px;
}
.lista{
    gap: 220px;
    display: flex;
}

.navegacao{
    margin-top: 30px;
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 18px;

}


.log{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    margin-right: 22px;
}

.boxTitulo{
    margin-top: -100px;
    text-align: center;
}

#ipt_modelo{
    width: 130px;
    height: 22px;
}

.titulo{
    justify-content: center;
    font-size: 50px;

}


.boxInput{
    
    display: flex;
    justify-content: space-evenly;
}

.pInp{
    font-size: 23px;
}


.frota{
    background-color: rgba(104, 1, 1, 0.7);
    border: 2px solid white;
    border-radius: 20px;
    width: 350px;
    height: 475px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}


.divBotao{
    width: 100vw;
    text-align: center;
    margin-top: 60px;
}

.botao{
    border: 2px solid white;
    font-weight: bold;
    font-size: 25px;
    color: black;
    background-color: red;
    border-radius: 23px;
    cursor: pointer;
    height: 37px;
    width: 250px;
    
}
